<% content_for :page_title do %>
  <%= Spree.t("static_content.static_pages") %>
<% end %>

<%= form_for @page, url: admin_pages_path do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div data-hook="admin_page_new_form_buttons">
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>
